.task ul {
  margin: 0 auto;
  padding: 25px 19px;
  border: 1px solid black;
  max-width: 370px;
  background-color: rgba(0,0,0,0.5);
}
.task li {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  margin: 0 10px;
  list-style: none;
  padding: 5px;
  text-align: center;
  color: #fff;
}
