body {
    background-image: url(https://cs1.livemaster.ru/storage/3e/65/213f47ee9e5d98bb32e259a640j5--suveniry-i-podarki-vinilovyj-fon-dlya-predmetnoj-semki-50h50-.jpg);
    color: #fff
  }
  .search {
    margin: 0 auto;
    text-align: center;
    margin: 10px;
  }
  form {
    color: black;
  }