@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-size: cover;
  background-repeat: no-repeat;
};
.main-bg {
  background-image: url('./img/game_background_1.png');
}
.modal-content {
  background-image: url('./img/modal-bg.png');
  background-size: cover;
  
}
.modal-dialog {
  max-height: 350px !important;
  max-width: 850px !important;
  .btn {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    font-family: sans-serif;
    margin: 10px
  }
}
