.battle-bg {
  background-image: url('./img/background-battle.png');
}
.battle-bg nav a {
  color: #fff;
}
.battle-bg .btn {
  background-color: #16e91dc9;
}
h2 {
  display: 1.7rem;
}
.hp {
  width: 300px;
  height: 10px;
  border: 1px solid #fff;
  padding: 0 !important;
  margin-top: 10px;
  span {
    display: block;
    background-color: red;
    width: 100%;
    height: 100%;
  }
}
.hpWrapper + div {
  text-align: center;
}
.healthyContainer {
  margin: 30px 0 20px;
}
.hpWrapper h2 {
  color: #ffffff;
  font-size: 1.5rem;
}
.battlefield {
  position: relative;
  & img {
    position: absolute;
    bottom: 155px;
    left: -140px;
  }
}
.attack-player {
  animation-duration: 3s;
  animation-name: attack-pl;
  animation-timing-function: linear;
}
@keyframes attack-pl {
  from {
    display: none;
    bottom: 155px;
    left: -140px;
  }
  to {
    bottom: 175px;
    left: 430px;
  }
}

.attack-monster {
  animation-duration: 3s;
  animation-name: attack-m;
  animation-timing-function: linear;
}
@keyframes attack-m {
  from {
    display: none;
    bottom: 155px;
    left: 338px;
    transform: rotate(360deg)
  }
  to {
    bottom: 175px;
    left: -140px;
  }
}
 