.modal-content p, .modal-content button, .modal-header, .modal-content label  {
  color: #fff;
}
.modal-content {
  padding: 20px;
  & .modal-body .btn {
    padding: 5px 20px;
    background-color: #000000f2;
   
  }
  & .modal-body .btn:hover {
    color: #fff;
  }
  & .modal-body input {
    color: black;
  }
}
.cast .taskWrapper .btn {
  width: 100%;
}