.taskWrapper img {
  width: 300px;
  height: 200px;
}
figure {
  text-align: center;
  & {
    figcaption {
      font-size: 1.3rem;
      border: 1px solid black;
      margin-bottom: 10px;
    }
  }
}