*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
body
	font-family: sans-serif
body
  background-image:url(bg.jpg)
  background-repeat: none
  background-size: cover
.container
  max-width: 1200px
  margin: 0 auto
  padding-top: 15px
h1
  font-size: 16px
  color: #fff
  margin-bottom: 10px
.searchField
  width: 50%
  margin: 0 auto
  background-color: rgba(0,0,0,0.5)
  padding: 30px
  text-align: center
  form
    display: flex
    align-self: middle
    .btn-search, input
      height 20px
    input
      width: 70%
    .btn-search
      width: 30%
.youtubeSlider
	display: flex
	max-width: 1020px 
	flex-flow: row nowrap
	justify-content: space-between
	overflow: hidden
	margin: 0 auto
.youtubeContainer
  background-color: rgba(0,0,0,0.5)
  padding: 10px
  margin-top: 15px
  .videoSlide
    background-color: rgba(255,255,255,0.4)
@media screen and (max-width: 1005px)
  .youtubeSlider
    max-width: 680px
@media screen and (max-width: 680px)
  .youtubeSlider
    max-width: 340px
.toolTipWrapper
    width: 100px
    margin: 0 auto
    ul
      display: flex
      flex-flow: row nowrap
      justify-content: center
      li
        margin-right: 5px
        position: relative   
        input
          width: 15px
          height: 15px
          border-radius: 50px
          border: 1px solid #fff
          position: relative
          background: transparent
          &::before
            content: ""
            display: block
            position: absolute
            margin: 0
            top: 1px
            right: 0
            bottom: 0
            left: 3px
            color: #fff
            width: 15px
            height: 15px 
        .active
          &::before
            background-color: red !important
            display: block 
       

      .slide_1 input::before
        content: '1'
      .slide_2 input::before
        content: '2'
      .slide_3 input::before
        content: '3'
      .slide_4 input::before
        content: '4'
      .slide_5 input::before
        content: '5'
      .slide_6 input::before
        content: '6'
.videoSlide
  border: 1px solid black
  margin: 10px
  height: 375px
  min-width: 320px
  overflow: hidden
  .videoInfo
    padding: 10px
.control
  text-align: right
  button
    width: 80px

ul
  li
    list-style: none
    a
      text-decoration: none
      color: black
      &:hover
        color: blue
      