.comprassion {
  justify-content: center;
  & .task {
    text-align: center;
  }
  & .btnWrapper {
    justify-content: center;
    & .btn:first-child {
      background-color: blue;
    }
    & .btn:last-child {
      background-color: red;
    }
    & .activeBtn {
      border: 5px solid rgba(0,0,0,0.7);
    }
  }
}